.page-inventory
  page-header(title="Inventory", icon="fa-database")
  table-filters
    search-box(on-search='filter.setSearchTerm(model); filter.doFilter();', throttle='1000', placeholder="{{:: 'Find a system' | translate}}")
    check-in-select
    actions-select

  .rha-notifications
  section.content
    .table-utilities

    inventory-actions

    .card-table-header(ng-if='getListType() === listTypes.card')
      md-checkbox.md-accent.md-hue-1.md-checkbox-list.checkbox(
        tooltip="{{:: 'Select All' | translate}}",
        aria-label='Select All Systems Checkbox',
        tooltip-trigger='mouseenter',
        tooltip-append-to-body='true',
        tooltip-placement='top',
        type="checkbox",
        md-indeterminate="{{ checkboxes.indeterminate || false }}",
        ng-model='checkboxes.checked',
        ng-change='selectAll(); checkboxes.checkboxChecked(checkboxes.checked, getSelectableSystems())')
      label.type(translate, ng-click="sort('system_type_id')") &nbsp; Type
      strong.hostname(translate, ng-click="sort('toString')") Name &nbsp;
      strong.action-count(translate, ng-click="sort('report_count')") Action Count

    .system-cards.card-list(ng-if='getListType() === listTypes.card && !loading')
      system-card.ng-animate-enabled(
        ng-repeat='system in systems track by system.system_id',
        system='system',
        checkboxes='checkboxes',
        checkbox-tooltip="canSelectSystem(system) ? defaultTooltip : getDisabledCheckboxTooltip(system)"
        )

    .row.row-short
      .col-md-12
        table(ng-if='getListType() === listTypes.table')
          thead
            tr
              th.min
                md-checkbox.md-accent.md-hue-1.md-checkbox-list(
                  tooltip="{{:: 'Select All' | translate}}",
                  type="checkbox",
                  aria-label='Select All Systems Checkbox',
                  md-indeterminate="{{ checkboxes.indeterminate || false }}",
                  ng-model='checkboxes.checked',
                  ng-change='selectAll(); checkboxes.checkboxChecked(checkboxes.checked, getSelectableSystems())')
              th.fit-content.min.sortable(ng-class="sorter.predicate | sortClass:'system_type_id':sorter.reverse", ng-click="sorter.sort('system_type_id')", translate) System Type
              th.sortable(ng-class="sorter.predicate | sortClass:'toString':sorter.reverse", ng-click="sorter.sort('toString')", translate) System Name
              th.sortable(translate) Vulnerabilities
              th.fit-content.min.sortable(ng-class="sorter.predicate | sortClass:'last_check_in':sorter.reverse", ng-click="sorter.sort('last_check_in')", translate) Last Check In
              th.min.sortable(ng-class="sorter.predicate | sortClass:'report_count':sorter.reverse", ng-click="sorter.sort('report_count')", translate) Status
          tbody(ng-show='!loading')
            tr(ng-repeat='system in systems track by system.system_id',
               ng-class="{'stale': !system.isCheckingIn}",
               ng-click='checkboxes.rowClick($event, system.system_id)',
               ng-mousedown='checkboxes.rowClick($event, system.system_id)',
               data-id="{{:: system.system_id}}"
            )
              td.min
                md-checkbox.md-accent.md-hue-1.md-checkbox-list(
                  type='checkbox',
                  aria-label='Select System Checkbox',
                  ng-model='checkboxes.items[system.system_id]',
                  ng-click='checkboxes.rowClick($event, system.system_id); $event.stopPropagation();')
              td.fit-content
                type-icon(type-id='system.system_type_id', include-text='true')
              td.fit-content
                a(ng-click="showActions(system)") {{system.toString}}
              td.fit-content.text-center
                a(ng-click="showActions(system, alse, 'Vulnerabilities')") {{system.rhsa_count}}
              td.fit-content {{ system.last_check_in | timeAgo }}
              td.fit-content
                a.action-count.icon-inline(ng-click='showActions(system)')
                  span.text(translate, translate-n="system.report_count", translate-plural="{{:: $count}} Actions") {{:: system.report_count}} Action
                  i.fa(ng-class="{'no-action': !system.report_count, 'yes-action': system.report_count, 'success': !system.report_count, 'fail': system.report_count}")
                  span.sr-only Time to destination by car:


    .row.row-short(ng-if='!loading')
      .col-sm-12
        pagination.pull-right.pagination-blue(
          ng-if="totalSystems() > pager.perPage",
          total-items="totalSystems()",
          ng-model="pager.currentPage",
          items-per-page="pager.perPage",
          ng-change="doScroll()")

  .animate-wrapper.margin-top
    .row.row-short.ng-animate-enabled(ng-if='loading')
      .col-xs-12
        .load.text-center
          .spinner.spinner-lg
          span(translate) Loading system information…
