.hidden-in-product(ng-show='groups.length')
  label(translate='translate') Groups
  .dropdown.gray
    button.btn.btn-default.dropdown-toggle(
      type='button',
      data-toggle='dropdown',
      aria-haspopup='true',
      aria-expanded='false',
      ng-disabled='!groups || !groups.length')
      span(ng-hide='isGroupSelected()', translate) All Groups
      span(ng-show='isGroupSelected()') {{group.display_name}}
      span.caret
    ul.dropdown-menu
      li
        a(ng-click='triggerChange(null)', translate) All Groups
      li(ng-repeat='g in groups | orderBy:"display_name" track by g.id')
        a(ng-click='triggerChange(g)')
          trimmed-text(length="40", text="{{g.display_name}}")

