.hidden-in-product.group-select
  label
    i.fa.fa-globe(aria-hidden="true")
    span(translate) Group filter:
  md-menu(md-offset="0 34")
    md-button.button-dropdown#group-select(
      ng-click="$mdMenu.open($scope.$broadcast(Events.filters.reset));",
      aria-haspopup='true',
      aria-expanded='false',
      ng-disabled='disabled')
      span.text(ng-show='!disabled && !isGroupSelected() && !groups.length', translate) Group select
      span.text(ng-show='disabled || (!isGroupSelected() && groups.length)', translate) All Systems
      b.text.active(ng-show='isGroupSelected() && !disabled') {{group.display_name}}
      span.caret
    md-menu-content(ng-click="$event.stopPropagation();", role="menu", aria-labelledby="group-select")
      md-menu-item.no-hover
        search-box(
          on-search='searchGroups(model)',
          ng-keyup="keypress($event)",
          placeholder="{{:: 'Find A Group' | translate}}")
      md-menu-item.selected(ng-repeat='g in groups | filter:showSelectedGroup track by g.id')
        div(ng-click='triggerChange(g)')
          trimmed-text(length="30", text="{{:: g.display_name}}") ({{:: g.systems.length}})
          i.fa.fa-trash-o.group-control.pull-right(ng-click='deleteGroup(g); $event.stopPropagation();',
            tooltip="{{:: 'Delete group' | translate}}")
      md-menu-item(ng-show="showAllSystems()")
        a.link(ng-click='triggerChange(null)', translate) - Show all systems -
      md-menu-item(ng-repeat='g in groups | filter:hideSelectedGroup | orderBy:"display_name" track by g.id')
        div(ng-click='triggerChange(g)')
          trimmed-text(length="30", text="{{:: g.display_name}}") ({{:: g.systems.length}})
          i.fa.fa-trash-o.group-control.pull-right(ng-click='deleteGroup(g); $event.stopPropagation();',
            tooltip="{{:: 'Delete group' | translate}}")
  a.link.add-group(ng-click='createGroup()', tooltip='{{:: "Create new system group" | translate}}') + Add group
