.hidden-in-product.group-select
  label
    i.fa.fa-globe(aria-hidden="true")
    span(translate) Global filters
  #global-filter-dropdown.dropdown(ng-click="toggleDropdown()")
    button.btn.dropdown-toggle(
      type='button',
      ng-click="resetFilter(); defaultSearchBox();",
      data-toggle="dropdown",
      aria-haspopup='true',
      aria-expanded='false',
      ng-disabled='disabled')
      span.text(ng-show='!disabled && !isGroupSelected() && !groups.length', translate) Group select
      span.text(ng-show='disabled || (!isGroupSelected() && groups.length)', translate) All Systems
      b.text.active(ng-show='isGroupSelected() && !disabled') {{group.display_name}}
      span.caret
    ul.dropdown-menu(role="menu")
      li
        search-box#global-filter-searchbox(
          on-search='searchGroups(model)',
          ng-click="$event.stopPropagation();"
          ng-keyup="keypress($event)",
          placeholder="{{'Find A Group' | translate}}")
      li(ng-show="showAllSystems()")
        a.link(href="javascript:void(0)", ng-click='triggerChange(null)', translate) - Show all systems -
      li.system-group(ng-repeat='g in groups | filter:hideSelectedGroup | orderBy:"display_name" track by g.id')
        a.icon-inline-right(href="javascript:void(0)", ng-click='triggerChange(g);')
          trimmed-text(length="20", text="{{g.display_name}}")
          | &nbsp;({{g.systems.length}})
          i.fa.fa-trash-o.group-control(ng-click='deleteGroup(g); $event.stopPropagation();',
            tooltip="{{'Delete group' | translate}}")
  a.add-group(ng-click='createGroup()', tooltip='{{"Create new system group" | translate}}')
    i.fa.fa-plus-circle.pad-left(aria-hidden="true")
