.hidden-in-product.group-select
  label
    i.fa.fa-globe(aria-hidden="true")
    span(translate) Global filters
  .dropdown
    button.btn.dropdown-toggle(
      type='button',
      data-toggle='dropdown',
      aria-haspopup='true',
      aria-expanded='false',
      ng-disabled='disabled')
      span.text(ng-show='!disabled && !isGroupSelected() && !groups.length', translate) Group select
      span.text(ng-show='disabled || (!isGroupSelected() && groups.length)', translate) All Systems
      span.text.active(ng-show='isGroupSelected() && !disabled') {{group.display_name}}
      span.caret
    ul.dropdown-menu
      li
        a(ng-click='triggerChange(null)', translate) All Systems
      li(ng-repeat='g in groups | orderBy:"display_name" track by g.id')
        a(ng-click='triggerChange(g)')
          trimmed-text(length="35", text="{{g.display_name}}")
      li.divider(role='separator')
      li
        a(ui-sref="app.config({tab: 'groups'})", translate) Create a group
  a.add-group(ui-sref="app.config({tab: 'groups'})", tooltip='Create a new group', translate)
    i.fa.fa-plus-circle.pad-left(aria-hidden="true")
