.hidden-in-product.group-select
  label
    i.fa.fa-globe(aria-hidden="true")
    span(translate) Global filters
  #global-filter-dropdown.dropdown(ng-click="toggleDropdown()")
    button.btn.dropdown-toggle(
      type='button',
      ng-click="resetFilter();",
      data-toggle="dropdown",
      aria-haspopup='true',
      aria-expanded='false',
      ng-disabled='disabled')
      span.text(ng-show='!disabled && !isGroupSelected() && !groups.length', translate) Group select
      span.text(ng-show='disabled || (!isGroupSelected() && groups.length)', translate) All Systems
      b.text.active(ng-show='isGroupSelected() && !disabled') {{group.display_name}}
      span.caret
    group-search
  a.add-group(ng-click='createGroup()', tooltip='{{"Create new system group" | translate}}')
    i.fa.fa-plus-circle.pad-left(aria-hidden="true")
