.filter-group.filter-check-in
  label Check in status
  md-menu(md-offset="0 38")
    md-button.button-filter(
      type='button',
      data-toggle='dropdown',
      aria-haspopup='true',
      aria-expanded='false',
      ng-click='$mdMenu.open()')
      span {{selected.label}}
      span.caret
    md-menu-content
      md-menu-item(ng-repeat='option in options track by option.id')
        a(ng-click='select(option)') {{:: option.label}}
