.page-inventory
  section
    inventory-header(name='Summit Demo', region='Private Cloud', type='Openstack & Openshift')
  table-filters
    search-box(on-search='filter.setSearchTerm(model); filter.doFilter();', throttle='1000', placeholder="{{:: 'Find a system' | translate}}")
    actions-select

    // Non-functioning filters

    // Optimization Potential
    .filter-group.optimization-potential-select
      label(translate) Optimization Potential
      md-menu(md-offset="0 38")
        md-button.button-filter(
          type='button',
          data-toggle='dropdown',
          aria-haspopup='true',
          aria-expanded='false',
          ng-click='$mdMenu.open($event)')
          span.text.active(ng-model='label') All
          span.caret
        md-menu-content
          md-menu-item
            a High
          md-menu-item
            a Moderate
          md-menu-item
            a Low

    // Reliability Filter
    .filter-group.reliability-select
      label(translate) Reliability
      md-menu(md-offset="0 38")
        md-button.button-filter(
          type='button',
          data-toggle='dropdown',
          aria-haspopup='true',
          aria-expanded='false',
          ng-click='$mdMenu.open($event)')
          span.text.active(ng-model='label') All
          span.caret
        md-menu-content
          md-menu-item
            a High
          md-menu-item
            a Moderate
          md-menu-item
            a Low

    // Tags Filter
    .filter-group.tags-select
      label(translate) Tags
      md-menu(md-offset="0 38")
        md-button.button-filter(
          type='button',
          data-toggle='dropdown',
          aria-haspopup='true',
          aria-expanded='false',
          ng-click='$mdMenu.open($event)')
          span.text.active(ng-model='label') All
          span.caret
        md-menu-content
          md-menu-item
            a DMZ
          md-menu-item
            a Prod

  .rha-notifications
  section.content
    .table-utilities

    .card-table-header(ng-if='getListType() === listTypes.card')
      md-checkbox.md-accent.md-hue-1.md-checkbox-list.checkbox(
        tooltip="{{:: 'Select All' | translate}}",
        aria-label='Select All Systems Checkbox',
        tooltip-trigger='mouseenter',
        tooltip-append-to-body='true',
        tooltip-placement='top',
        type="checkbox",
        md-indeterminate="{{ checkboxes.indeterminate || false }}",
        ng-model='checkboxes.checked',
        ng-change='selectAll(); checkboxes.checkboxChecked(checkboxes.checked, getSelectableSystems())')
      label.type(translate, ng-click="sort('system_type_id')") &nbsp; Type
      strong.hostname(translate, ng-click="sort('toString')") Name &nbsp;
      strong.action-count(translate, ng-click="sort('report_count')") Action Count

    .inventory.card-list.card-pf-view
      card.card-pf-view.card-pf-view-select.card-pf-view-single-select(
        ng-repeat='system in systems track by system.system_id',
        system='system',
        ui-sref="app.system-overview({id: system.system_id})"
        )
        metadata-card(system='system')
        //- card-content
        //-   .display-name.text-center
        //-     strong {{:: system.toString }}
        //-   .host-info
        //-     .hostname
        //-       span.pficon-screen.status-icon
        //-       span {{ system.hostname }}
        //-     .status-check
        //-       span.fa.fa-clock-o.status-icon
        //-       span.hostname Last Check: {{::system.last_check_in | timeAgo }}

        //-   .card-pf-top-element
        //-     type-icon.type.card-pf-icon(type-id='system.system_type_id' include-text='false')

        //-   .card-pf-items.status-list
        //-     .card-pf-item.optimization-label.text-center
        //-         optimization-label(level='system.optimization')
        //-     .card-pf-item.text-center
        //-       span Optimization Potential
        //-     .card-pf-item.reliability-status.text-center
        //-         bar-status-icon.status-icon(status='system.reliability')
        //-         a(href="#") Reliability
        //-     .card-pf-item.system-tags.text-center
        //-         .fa.fa-database.status-icon
        //-         .pficon-network.status-icon
        //-         .pficon-cluster.status-icon

    //- .row.row-short
    //-   .col-md-12
    //-     table(ng-if='getListType() === listTypes.table')
    //-       thead
    //-         tr
    //-           th.min
    //-             md-checkbox.md-accent.md-hue-1.md-checkbox-list(
    //-               tooltip="{{:: 'Select All' | translate}}",
    //-               type="checkbox",
    //-               aria-label='Select All Systems Checkbox',
    //-               md-indeterminate="{{ checkboxes.indeterminate || false }}",
    //-               ng-model='checkboxes.checked',
    //-               ng-change='selectAll(); checkboxes.checkboxChecked(checkboxes.checked, getSelectableSystems())')
    //-           th.fit-content.min.sortable(ng-class="sorter.predicate | sortClass:'system_type_id':sorter.reverse", ng-click="sorter.sort('system_type_id')", translate) System Type
    //-           th.sortable(ng-class="sorter.predicate | sortClass:'toString':sorter.reverse", ng-click="sorter.sort('toString')", translate) System Name
    //-           th.fit-content.min.sortable(ng-class="sorter.predicate | sortClass:'last_check_in':sorter.reverse", ng-click="sorter.sort('last_check_in')", translate) Last Check In
    //-           th.min.sortable(ng-class="sorter.predicate | sortClass:'report_count':sorter.reverse", ng-click="sorter.sort('report_count')", translate) Status
    //-       tbody(ng-if='!loading')

    //-         tr(ng-repeat='system in systems track by system.system_id',
    //-            ng-class="{'stale': !system.isCheckingIn}",
    //-            ng-click='checkboxes.rowClick($event, system.system_id)',
    //-            ng-mousedown='checkboxes.rowClick($event, system.system_id)',
    //-            data-id="{{:: system.system_id}}"
    //-         )
    //-           td.min
    //-             md-checkbox.md-accent.md-hue-1.md-checkbox-list(
    //-               type='checkbox',
    //-               aria-label='Select System Checkbox',
    //-               ng-model='checkboxes.items[system.system_id]',
    //-               ng-click='checkboxes.rowClick($event, system.system_id); $event.stopPropagation();')
    //-           td.fit-content
    //-             type-icon(type-id='system.system_type_id', include-text='true')
    //-           td.fit-content
    //-             a(ng-click="showActions(system)") {{:: system.toString}}
    //-           td.fit-content {{:: system.last_check_in | timeAgo }}
    //-           td.fit-content
    //-             a.action-count.icon-inline(ng-click='showActions(system)')
    //-               span.text(translate, translate-n="system.report_count", translate-plural="{{:: $count}} Actions") {{:: system.report_count}} Action
    //-               i.fa(ng-class="{'no-action': !system.report_count, 'yes-action': system.report_count, 'success': !system.report_count, 'fail': system.report_count}")
    //-               span.sr-only Time to destination by car:


    .row.row-short(ng-if='!loading')
      .col-sm-12
        pagination.pull-right.pagination-blue(
          ng-if="totalSystems() > pager.perPage",
          total-items="totalSystems()",
          ng-model="pager.currentPage",
          items-per-page="pager.perPage",
          ng-change="doScroll()")

  .animate-wrapper.margin-top
    .row.row-short.ng-animate-enabled(ng-if='loading')
      .col-xs-12
        .load.text-center
          .spinner.spinner-lg
          span(translate) Loading system information…
