span
    input(
      type='text',
      autofocus
      placeholder='{{placeholder}}',
      ng-keypress='keyPressed($event)',
      ng-model='model',
      ng-change='change()',
      ng-class="{'search-box form-control': isFullLength}"
    )
    span &nbsp;
    i.fa.fa-search(ng-hide="searching()")
    i.fa.fa-times(ng-show="searching()", ng-click="resetSearch()")
