.table-search
  input(
    type='text',
    autofocus,
    placeholder='{{:: placeholder}}',
    ng-keypress='keyPressed($event)',
    ng-model='model',
    ng-change='change()',
    ng-class="{'search-box form-control': isFullLength}"
  )
  i.fa.fa-search(ng-if="!searching()")
  i.fa.fa-times(ng-if="searching()", ng-click="resetSearch();" md-prevent-menu-close)
