.renameableProperty
  .name.ellipsis-overflow.editable(ng-mouseenter="editIcon=true", ng-mouseleave="editIcon=false", ng-show='!edit.value', ng-dblclick='rename(newValue)') {{edit.name}}
    .edit-toggle.i.fa.fa-pencil-square-o#edit-toggle(ng-show="editIcon", ng-click='rename()')
  input#renameable-property-input(
      ng-if='edit.value',
      type='text',
      ng-model='edit.name',
      ng-disabled='edit.value === "frozen"',
      ng-keyup='$event.keyCode == 13 && submit($event)')
