.filter-group.filter-rhsa-severity
  label RHSA Severity
  md-menu(md-offset="0 38")
    md-button.button-filter(
      type='button',
      data-toggle='dropdown',
      aria-haspopup='true',
      aria-expanded='false',
      ng-click='$mdMenu.open()')
      span {{selected.label}}
      span.caret
    md-menu-content
      md-menu-item(ng-repeat='option in options')
        a(ng-click='select(option)') {{option.label}}
