.filter-group.filter-rhsa-severity
  label(translate) RHSA Severity
  md-menu(md-offset="0 38")
    md-button.button-filter(
      type='button',
      data-toggle='dropdown',
      aria-haspopup='true',
      aria-expanded='false',
      ng-click='openMenu($mdMenu, $event)')
      span {{getSelectedString() | translate}}
      span.caret
    md-menu-content
      md-menu-item(ng-repeat='(key, option) in options')
        md-button(md-prevent-menu-close="md-prevent-menu-close")
          md-checkbox(ng-model="option.selected", aria-label="RHSA Filter Checkbox") {{option.title | translate}}
