.filter-group.filter-rhsa-severity
  label(translate) RHSA Severity
  md-menu(md-offset="0 38")
    md-button.button-filter(
      type='button',
      data-toggle='dropdown',
      aria-haspopup='true',
      aria-expanded='false',
      ng-click='$mdMenu.open()')
      span {{selected.title | translate}}
      span.caret
    md-menu-content
      md-checkbox(ng-repeat='(key, option) in options', ng-click='select(key)', ng-checked='selected === option')
        span {{option.title | translate}}
