.policies-page
  page-header(title="Policies", icon="fa-gavel")

  table-filters
    search-box(placeholder="{{'Search policies' | translate}}", on-search='search(model)', throttle='1000', ng-model='searchText')

  section.content 
    table
      thead
        tr
          th.sortable(ng-class="sorter.getSortClass('policy_name')", ng-click="sorter.sort('policy_name')", translate) Policy
          th.nowrap.sortable.text-center(ng-class="sorter.getSortClass('systems_pass')", ng-click="sorter.sort('systems_pass')", translate) Systems Passing
          th.nowrap.sortable.text-center(ng-class="sorter.getSortClass('systems_fail')", ng-click="sorter.sort('systems_fail')", translate) Systems Failing
          th.nowrap.sortable.text-center(ng-class="sorter.getSortClass('systems_error')", ng-click="sorter.sort('systems_error')", translate) Systems Erroring
      tbody(ng-show='!loading')
        tr(ng-repeat="policy in policies | orderBy: sorter.predicate : sorter.reverse track by policy.policy_id")
          td.nowrap
            a(ui-sref="app.view-policy({id: policy.policy_id})") {{policy.policy_name}}
            i.fa.fa-exclamation-circle.red.pull-right(
              ng-if="policy.systems_fail || policy.systems_error",
              tooltip='{{failedChecksTooltip}}'
              aria-label="Policy error icon")
          td.nowrap.text-center(ng-class="policy.passed") {{policy.systems_pass}}
          td.nowrap.text-center(ng-class="policy.failed") {{policy.systems_fail}}
          td.nowrap.text-center(ng-class="policy.errored") {{policy.systems_error}}

    pagination.pull-right.pagination-blue(
      ng-if='!loading && allPolicies.total > pager.perPage',
      total-items="allPolicies.total",
      ng-model="pager.currentPage",
      items-per-page="pager.perPage",
      ng-change="paginate()")

.animate-wrapper.margin-top.ng-animate-enabled(ng-show='loading')
  .load.text-center
    .spinner.spinner-lg
    span(translate) Loading policy information…
