.policies-id-page
  .breadcrumbs
      ol
        li
          a(ui-sref='app.list-policies')
            span(translate) Policies
        li
          span {{policyId}}

  page-header(title="{{policyName}}", icon="fa-gavel")
    
  section.section-topic-details
    span.description(translate) POLICY ID
    h2 {{policyName}}
  table-filters
    search-box(placeholder="{{'Search systems' | translate}}", on-search='search(model)', throttle='1000', ng-model='searchText')

  section.content
    table
      thead
        tr
          th.sortable(ng-class="sorter.getSortClass('system.toString')", ng-click="sorter.sort('system.toString')", translate) System Name
          th.fit-content.min(translate) Summary
      tbody(ng-show='!loading && policy !== null')
        tr(ng-repeat="resource in policy.resources | orderBy: sorter.predicate : sorter.reverse")
          td
            a(ng-click='showSystem(resource.system_id)') {{resource.system.toString}}
          td.fit-content.min(translate-n='{{resource.checks_pass}}', translate-plural='{{$count}} Checks', ng-if="resource.checks_pass !== 0") 
            span.state(ng-class="resource.status", translate) {{resource.checks_pass}} Check {{resource.status}}
          td.fit-content.min(ng-if="resource.checks_pass === 0") 
            span.state(ng-class="resource.status", translate) Checks {{resource.status}}

    .text-center(ng-show='policy === null && !loading')
      strong(translate) There are no policies for the selected options.&nbsp;

    pagination.pull-right.pagination-blue(
      ng-if='!loading && policy.total > pager.perPage',
      total-items="policy.total",
      ng-model="pager.currentPage",
      items-per-page="pager.perPage",
      ng-change="paginate()")

  .animate-wrapper.margin-top
    .load.text-center.ng-animate-enabled(ng-show='loading')
      .spinner.spinner-lg
      span(translate) Loading policy information…
