.topic-rule-list
  list-type.text-right-sm
  .row.row-short(ng-show='getListType() === listTypes.card && loading === false')
    .col-sm-12
      .card-list
        .card-list-item(ng-repeat="plugin in plugins | orderBy: sorter.predicate : sorter.reverse track by plugin.plugin_id")
          rule-group-card(ng-if="plugin.type === 'group'", plugin='plugin')
          card(ng-if="plugin.type === 'rule'", ng-class='{faded: plugin.acked}')
            card-header
              i.fa.category-icon.inline-right(ng-class="plugin.rule.category.toLowerCase()")
              span.title {{ ::plugin.rule.category }} #{'>'} {{ ::plugin.rule.description }}
              .count(translate, translate-n='plugin.hitCount', translate-plural="{{$count}} Systems") 1 System
              .pull-right
                span.label.label-default.inline-right.rule-inactive(ng-if='plugin.acked', translate) INACTIVE
                ansible-icon(value='rule.ansible', ng-if='config.isPlannerEnabled')
            card-content
              .gray(ng-bind-html='::plugin.rule.summary_html', target-blank='')
            .footer
              .row
                .col-sm-6
                  all-severity-icons(rule='plugin.rule')
                .col-sm-6.text-right
                  strong(ng-hide='plugin.rule.acked')
                    a(translate,
                      ui-sref='app.actions-rule({category: topic.slug ? topic.slug : topic.id, rule: plugin.rule.rule_id})',
                      ng-disabled="plugin.rule.hitCount === 0") View Impacted Systems

  .row.row-short(ng-show='getListType() === listTypes.table && loading === false')
    .col-sm-12
      table#rha-rules-table.table.ng-table.break-word
        thead
          tr
            th.sortable(ng-class="sorter.getSortClass('description')", ng-click="sorter.sort('description')")
              .sort-indicator(translate) Rule

            // START UBER-SEV
            th.text-center.sortable(ng-class="sorter.getSortClass('rec_likelihood')", ng-click="sorter.sort('rec_likelihood')")
              .sort-indicator(translate) Likelihood
            th.text-center.sortable(ng-class="sorter.getSortClass('rec_impact')", ng-click="sorter.sort('rec_impact')")
              .sort-indicator(translate) Impact
            th.text-center.sortable(ng-class="sorter.getSortClass('severityNum')", ng-click="sorter.sort('severityNum')")
              .sort-indicator(translate) Total Risk
            // END UBER-SEV

            th.text-center.sortable(ng-class="sorter.getSortClass('hitCount')", ng-click="sorter.sort('hitCount')")
              .sort-indicator(translate) Systems
            th.text-center.sortable(
              ng-if='config.isPlannerEnabled',
              ng-class="sorter.getSortClass('ansible')",
              ng-click="sorter.sort('ansible')")
              .sort-indicator(translate) Ansible
        tbody
          tr.legend-item(ng-repeat="rule in filteredRules | filter:filterZero | orderBy: sorter.predicate : sorter.reverse track by rule.rule_id", ng-class="{acked: rule.acked}")
            td(ng-click='!rule.acked && viewImpactedSystems(topic.slug ? topic.slug : topic.id, rule.rule_id)')
              a(ng-if='!rule.acked') {{rule.description}}
              div(ng-if='rule.acked')
                | {{rule.description}}
                span.label.label-default.inline-left.rule-inactive(translate) INACTIVE
              i.pull-right.fa.fa-bullseye(ng-if='isIncident(rule)')

            // START UBER-SEV
            td.filter-on.text-center.align-vertical(ng-click='viewImpactedSystems(topic.slug ? topic.slug : topic.id, rule.rule_id)')
              severity-icon(severity='rule.rec_likelihood', type='likelihood', label='')
            td.filter-on.text-center.align-vertical(ng-click='viewImpactedSystems(topic.slug ? topic.slug : topic.id, rule.rule_id)')
              severity-icon(severity='rule.rec_impact', type='impact', label='')
            td.filter-on.text-center.align-vertical(ng-click='viewImpactedSystems(topic.slug ? topic.slug : topic.id, rule.rule_id)')
              severity-icon(severity='rule.severity', type='severity', label='')
            // END UBER-SEV

            td.text-center.align-vertical(ng-click='viewImpactedSystems(topic.slug ? topic.slug : topic.id, rule.rule_id)') {{ rule.hitCount }}
            td.text-center.align-vertical(ng-if='config.isPlannerEnabled')
              ansible-icon(value='rule.ansible')

  .row.row-short(ng-show='!showRulesWithNoHits && hiddenCount')
    .col-sm-12.text-center
      button.btn.btn-sm.btn-default(ng-click='showAll()', translate) Show rules without actions ({{hiddenCount}} more)

  .row.row-short(ng-show='!showCards')
    .col-xs-12
      .actions-back
