.topic-rule-list
  .cards-view(ng-show='getListType() === listTypes.card && plugins.length > 0')
    .card-list
      .card-list-item(ng-repeat="plugin in plugins | orderBy: sorter.predicate : sorter.reverse track by plugin.plugin_id")
        rule-group-card(ng-if="plugin.type === 'group'", plugin='plugin')
        md-card(ng-if="plugin.type === 'rule'", ng-class='{faded: plugin.acked}')
          md-card-header
            .md-card-header-title
              i.fa.category-icon.inline-right(ng-class="plugin.rule.category.toLowerCase()")
              span {{ ::plugin.rule.category }} #{'>'} {{ ::plugin.rule.description }}
              .count(translate, translate-n='plugin.hitCount', translate-plural="{{$count}} Systems") 1 System
            .md-card-header-cta
              span.label.label-default.inline-right.rule-inactive(ng-if='plugin.acked', translate) INACTIVE
              incident-icon.inline-right(rule-id='plugin.rule.rule_id') &nbsp;
              ansible-icon(value='plugin.rule.ansible', ng-if='config.isPlannerEnabled')
          md-card-content
            .gray(ng-bind-html='::plugin.rule.summary_html', target-blank='')
          md-card-footer
            .row
              .col-sm-6
                all-severity-icons(rule='plugin.rule')
              .col-sm-6.text-right-sm
                strong(ng-hide='plugin.rule.acked')
                  a(translate,
                  ui-sref='app.actions-rule({category: topic.slug ? topic.slug : topic.id, rule: plugin.rule.rule_id})',
                  ng-disabled="plugin.rule.hitCount === 0") View Impacted Systems

  .table-view.table-overflow(ng-show='getListType() === listTypes.table && plugins.length > 0')
    table#rha-rules-table
      thead
        tr
          th.sort-asc.sortable(ng-class="sorter.getSortClass('description')", ng-click="sorter.sort('description')", translate) Rule

          // START UBER-SEV
          th.fit-content.text-center.sortable(ng-class="sorter.getSortClass('rec_likelihood')", ng-click="sorter.sort('rec_likelihood')", translate) Likelihood
          th.fit-content.text-center.sortable(ng-class="sorter.getSortClass('rec_impact')", ng-click="sorter.sort('rec_impact')", translate) Impact
          th.fit-content.text-center.sortable(ng-class="sorter.getSortClass('severityNum')", ng-click="sorter.sort('severityNum')", translate) Total Risk
          // END UBER-SEV

          th.fit-content.text-center.sortable(ng-class="sorter.getSortClass('hitCount')", ng-click="sorter.sort('hitCount')", translate)  Systems
          th.fit-content.text-center.sortable(
            ng-if='config.isPlannerEnabled',
            ng-class="sorter.getSortClass('ansible')",
            ng-click="sorter.sort('ansible')", translate) Ansible
      tbody
        tr.legend-item(ng-repeat="rule in filteredRules | filter:filterZero | orderBy: sorter.predicate : sorter.reverse track by rule.rule_id", ng-class="{acked: rule.acked}")
          td(ng-click='!rule.acked && viewImpactedSystems(topic.slug ? topic.slug : topic.id, rule.rule_id)')
            .icon-inline-right
              incident-icon(rule-id='rule.rule_id')
            .rule-description(ng-if='rule.acked')
              | {{rule.description}}
              span.label.label-default.inline-left.rule-inactive(translate) INACTIVE

            a(ng-class="{'icon-inline-right' : checkIncident(rule.rule_id)}", ng-if='!rule.acked') {{rule.description}}

          // START UBER-SEV
          td.filter-on.text-center.align-vertical(ng-click='viewImpactedSystems(topic.slug ? topic.slug : topic.id, rule.rule_id)')
            severity-icon(severity='rule.rec_likelihood', type='likelihood', label='')
          td.filter-on.text-center.align-vertical(ng-click='viewImpactedSystems(topic.slug ? topic.slug : topic.id, rule.rule_id)')
            severity-icon(severity='rule.rec_impact', type='impact', label='')
          td.filter-on.text-center.align-vertical(ng-click='viewImpactedSystems(topic.slug ? topic.slug : topic.id, rule.rule_id)')
            severity-icon(severity='rule.severity', type='severity', label='')
          // END UBER-SEV

          td.text-center(ng-click='viewImpactedSystems(topic.slug ? topic.slug : topic.id, rule.rule_id)') {{ rule.hitCount }}
          td.text-center(ng-if='config.isPlannerEnabled')
            ansible-icon(value='rule.ansible', hide-label="true")

  .row.row-short(ng-show='plugins.length === 0')
    .col-xs-12.text-center
      strong(translate) There are no actions for the selected filters.&nbsp;

  .row.row-short(ng-show='!showRulesWithNoHits && hiddenCount')
    .col-sm-12.text-center
      //button.btn.btn-sm.btn-default
      md-button(ng-click='showAll()', translate) Show rules without actions ({{hiddenCount}} more)

  .row.row-short(ng-show='!showCards')
    .col-xs-12
      .actions-back
