.pivot(style="transform: rotate({{rotate}}deg)")
  .arm
    .marker(
      style="transform: rotate(-{{rotate}}deg)",
      class="{{diffClass}}"
      tooltip="{{tooltip}}",
      tooltip-trigger='mouseenter',
      tooltip-append-to-body='true',
      tooltip-placement='top')
      i.fa.fa-caret-up(aria-hidden="true")
      .num {{difference}}
      i.fa.fa-caret-down(aria-hidden="true")
