// Page Header
header.ins-p-page-header.ins-has-chart-list
  md-menu(md-offset="0 38").hidden-lg
    md-button.button-filter(
      type='button',
      data-toggle='dropdown',
      aria-haspopup='true',
      aria-expanded='false',
      ng-click='$mdMenu.open($event)')
      span.text.active(ng-model='label') All
      span.caret
    md-menu-content
      md-menu-item
        a All
      md-menu-item
        a Public Cloud
      md-menu-item
        a Private Cloud
      md-menu-item
        a Virtual
      md-menu-item
        a Physical

  .button-group.filter-group.visible-lg
    button.button-default.button-lg.button-strong(ng-click="filterPins(deployment_types.all)",
      ng-class="{active: selectedPinType === deployment_types.all}", autofocus) All
    button.button-default.button-lg.button-strong(ng-click="filterPins(deployment_types.publicCloud)",
      ng-class="{active: selectedPinType === deployment_types.publicCloud}") Public Cloud
    button.button-default.button-lg.button-strong(ng-click="filterPins(deployment_types.privateCloud)",
      ng-class="{active: selectedPinType === deployment_types.privateCloud}") Private Cloud
    button.button-default.button-lg.button-strong(ng-click="filterPins(deployment_types.virtual)",
      ng-class="{active: selectedPinType === deployment_types.virtual}") Virtual
    button.button-default.button-lg.button-strong(ng-click="filterPins(deployment_types.physical)",
      ng-class="{active: selectedPinType === deployment_types.physical}") Physical

  .ins-p-chart-list
    .ins-p-chart-list__item
      .chart.chart-vulnerability
      .ins-p-chart-list__item__info
        .ins-p-chart-list__item__info__title {{charts.vulnerability.name}}
        b {{charts.vulnerability.title}} &nbsp;
        span Secure

    .ins-p-chart-list__item
      .chart.chart-compliance
      .ins-p-chart-list__item__info
        .ins-p-chart-list__item__info__title {{charts.compliance.name}}
        b {{charts.compliance.title}} &nbsp;
        span Compliant

    .ins-p-chart-list__item
      .chart.chart-advisor
      .ins-p-chart-list__item__info
        .ins-p-chart-list__item__info__title {{charts.advisor.name}}
        b {{charts.advisor.title}} &nbsp;
        span Optimized

    .ins-p-chart-list__item
      .chart.chart-subscription
      .ins-p-chart-list__item__info
        .ins-p-chart-list__item__info__title {{charts.subscription.name}}
        b {{charts.subscription.title}} &nbsp;
        span Utilized

section.ins-l-pmaas-map

  // Content
  //- .pmaas-map
  .map#map
    // this is an unnecessary wrapper, remove it
    .ins-c-map-popover#popover(ng-if="!loadingPop", style="display: none;")
      i.fa.fa-times.pull-right(ng-click="closePopover()")
      
      .ins-c-map-popover__header
        i.fa.fa-times-circle.alert-danger(ng-if="popover.issues")
        i.fa.fa-check-circle.alert-success(ng-if="!popover.issues")
        .chart-info
          span {{popover.title}}
          .subtitle {{popover.subtitle}}
      .ins-c-map-popover__body
        .ins-p-chart-list
          .ins-p-chart-list__item
            .chart.chart-vulnerability-popover#vulnerability-popover
            .ins-p-chart-list__item__info
              .ins-p-chart-list__item__info__title {{charts.vulnerability.name}}
              b {{charts.vulnerability.title}} &nbsp;
              span Secure

          .ins-p-chart-list__item
            .chart.chart-compliance-popover#compliance-popover
            .ins-p-chart-list__item__info
              .ins-p-chart-list__item__info__title {{charts.compliance.name}}
              b {{charts.compliance.title}} &nbsp;
              span Compliant

          .ins-p-chart-list__item
            .chart.chart-advisor-popover#advisor-popover
            .ins-p-chart-list__item__info
              .ins-p-chart-list__item__info__title {{charts.advisor.name}}
              b {{charts.advisor.title}} &nbsp;
              span Optimized

          .ins-p-chart-list__item
            .chart.chart-subscription-popover#subscription-popover
            .ins-p-chart-list__item__info
              .ins-p-chart-list__item__info__title {{charts.subscription.name}}
              b {{charts.subscription.title}} &nbsp;
              span Utilized

    .ins-c-zoom
      button(ng-click="zoom(true)")
        i.fa.fa-plus
      button(ng-click="zoom(false)")
        i.fa.fa-minus
    zoom
      .zoom-in
      .zoon-out
    .view-toggle
      button.button-sm
        i.fa.fa-list
      button.button-sm
        i.fa.fa-globe

  nav.ins-c-map-nav(ng-class="{'pf-is-collapsed': navCollapsed}")
    header
      .header-info
        h3.header-title Deployments
        .count
          span.num 2 &nbsp;
          i.fa.fa-check-circle.alert-success
        .count
          span.num 1 &nbsp;
          i.fa.fa-times-circle.alert-danger

      button.toggle-map(ng-click="navCollapsed = !navCollapsed")
        i.fa.fa-angle-double-left

    ul.list-deployments
      li
        a.list-group(ui-sref="app.dashboard-deployment({deployment_id: 'azure-europe'})")
          i.fa.fa-check-circle.alert-success
          span.title Germany Cloud
          span.subtitle
            b Azure West Europe | OpenShift
      li
        a.list-group(ui-sref="app.dashboard-deployment({deployment_id: 'priv-openstack'})")
          i.fa.fa-times-circle.alert-danger
          span.title San Francisco On-Stage
          span.subtitle
            b Private Cloud | OpenStack & OpenShift
      li
        a.list-group(ui-sref="app.dashboard-deployment({deployment_id: 'aws-east'})")
          i.fa.fa-check-circle.alert-success
          span.title US East Cloud
          span.subtitle
            b aws US-East-2 | OpenShift
