.filter-group.filter-checkin-select
  label(translate) Likelihood
  md-menu(md-offset="0 38")
    md-button.button-filter(
      type='button',
      data-toggle='dropdown',
      aria-haspopup='true',
      aria-expanded='false',
      ng-click='$mdMenu.open($event)')
      span.text.active(ng-model='label') {{selected.title}}
      span.caret
    md-menu-content
<<<<<<< 9986ee81fdf60c31f58ba209ad2eb07ec30ad3b3
      md-menu-item(ng-repeat='(key, value) in options')
        a(ng-click='select(key)') {{:: value.title}}
=======
      md-checkbox(ng-repeat='(key, option) in options', ng-click='select(key)', ng-checked='selected === option')
        span {{option.title}}
>>>>>>> Added checkboxes to all filters
