section.platform-select(
  ng-class="{active: getSelectedProduct() !== 'all'}",
  class="platform-{{getSelectedProduct()}}",
  ng-show='platforms.length > 1')
  .row
    .col-sm-12
      .pull-right
        a.btn.btn-rounded(
          translate,
          ng-click='viewAll()',
          ng-show="getSelectedProduct() !== 'all'")
          i.fa.fa-refresh(aria-hidden="true")
          | View all platforms

  .row.row-short
    .platform(ng-if="getSelectedProduct() !== 'all'")
      .col-sm-6
        img(ng-src="{{getImage()}}")

    .platform-filters(ng-if="getSelectedProduct() === 'all'")
      .col-sm-6.col-md-3(
        ng-repeat='filter in platforms')
        .btn.btn-quick-filter(
          class="platform-{{filter.product.code}}",
          ng-class='{active: filter.active}',
          ng-click='selectFilter(filter)')
          .platform.quick-filter-btn-content {{filter.displayName}}

          //.summary(ng-show='summaryType === "categories" && !loadingSummary') 
          .summary(ng-show='!loadingSummary') 
            span(ng-repeat='item in getSummaryItems(filter.product.code)')
              span {{item}}
              .sep(ng-if='!$last')

          //.summary(ng-show='summaryType === "systems" && !loadingSummary')
            //a(ng-repeat='subFilter in filter.subFilters',
              //ng-click='selectSubFilter(subFilter); $event.stopPropagation()') ({{subFilter.count}}) {{subFilter.displayName}}
              //.sep(ng-if='!$last') |
