.components
  .page-header
    h1.page-title Components Library

  .content-wrap
    section
      .toolbar.toolbar--table-filters
        .row
          .col-sm-6
          .col-sm-6.text-right
            .dropdown.inline
              button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                | Dropdown
                span.caret
              ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider(role='separator')
                li
                  a(href='#') Separated link

            .sep
            list-type

      .row
        .col-sm-12
          table.table.nomar.ng-table.table-fixed
            thead
              tr
                th
                  input.action-checkbox(
                  tooltip='Select All',
                  type="checkbox",
                  ng-indeterminate="checkboxes.indeterminate",
                  ng-model='checkboxes.checked',
                  ng-change='checkboxes.checkboxChecked(checkboxes.checked, ruleSystems)')
                th.sortable(style='width: 27%;', ng-class="predicate | sortClass:'system_type_id':reverse", ng-click="sort('system_type_id')")
                  .sort-indicator(translate) Type
                th.sortable(ng-class="predicate | sortClass:'toString':reverse", ng-click="sort('toString')")
                  .sort-indicator(translate) Name
                th.sortable(style="width: 27%;", ng-class="predicate | sortClass:'last_check_in':!reverse", ng-click="sort('last_check_in')")
                  .sort-indicator(translate) Reported
            tbody
              tr(ng-click='checkboxes.rowClick($event, system.system_id)',
              ng-mousedown='checkboxes.rowClick($event, system.system_id)',
              ng-class="{'stale': !system.isCheckingIn}",
              ng-repeat='system in ruleSystems',
              data-id="{{system.system_id}}")
                td(style='width: 30px')
                  input.selectme(
                  type='checkbox',
                  ng-model='checkboxes.items[system.system_id]',
                  ng-click='checkboxes.rowClick($event, system.system_id); $event.stopPropagation();',
                  )
                td(style='width: 27%;')
                  type-icon(type-id='system.system_type_id', include-text='true')
                td.break
                  a(ng-click='showSystem(system)') {{ system.toString }}
                td(style='width: 27%;') {{ ::system.last_check_in | timeAgo}}

    section.section-flex-grid
      h2 Brand new FLEX BOX MODEL layout with equal height layout
      h3.section-title.red 2 column grid set on the flex-grid container
      .flexgrid.equalheights
        .row
          .col-sm-2
            .content.gray
              p testing the content
          .col-sm-2
            .content.gray
              p testing the content
              p and again

        pre.code-block.code-terminal
          code.code
            | .flexgrid.equalheights
            |   .row
            |     .col-sm-2
            |       .content
            |         p testing the content
        .row
          .col-sm-6
            .content.gray
              p testing the content
          .col-sm-6
            .content.gray
              p testing the content
              p and again
          .col-sm-6
            .content.gray
              p testing the content
              p and again
          .col-sm-6
            .content.gray
              p testing the content
              p and again
              p and again
              p and again
          .col-sm-6
            .content.gray
              p testing the content
              p and again
              p and again
              p and again
              p and again
              p and again
              p and again
              p and again
          .col-sm-6
            .content.gray
              p testing the content
              p and again
              p and again
              p and again

    section
      h2 Regular Card
      card
        card-header
          | Some header HTML
        card-content
          | Some content HTML
        card-footer

    section
      h2 Expandable Card
      card(expandable=true)
        card-header
          | Some header HTML
        card-content
          | Some content HTML
        card-footer
