.components
  .page-header
    h1.page-title Components Library
  .content-wrap
    .row
      .col-sm-12.text-center
        h3 Material.io Demo

    //- .row
    //-   .col-sm-3
    //-     button.mdc-button(data-mdc-auto-init="MDCRipple") Button
    //-   .col-sm-3
    //-     button.mdc-fab.mdc-fab--plain(aria-label="Favorite", data-mdc-auto-init="MDCRipple")
    //-       i.fa.fa-heart-o(aria-hidden="true")
    //-   .col-sm-3
    //-     span.mdc-icon-toggle.material-icons(
    //-     role="button", 
    //-     aria-pressed="false"
    //-     aria-label="Star this item" 
    //-     tabindex="0"
    //-     data-icon-inner-selector=".fa"
    //-     data-toggle-on='{"cssClass": "fa-star", "label": "Unstar this item"}'
    //-     data-toggle-off='{"cssClass": "fa-star-o", "label": "Star this item"}'
    //-     data-mdc-auto-init="MDCRipple")
    //-       i.fa.fa-star-o(aria-hidden="true")

    // --- BUTTONS
    .row
      .mdc-component.mdc-component__buttons
        p Buttons
        .mdc-component__section
          .mdc-component__containers
            .mdc-component__containers__primary
              p Primary
              button.mdc-fab.fa.fa-plus(aria-label='add')
                span.fa.fa-plus
              span.mdc-icon-toggle(
                role="button"
                aria-pressed="false"
                aria-label="Star this item"
                tab-index="0"
                data-icon-inner-selector=".fa"
                data-toggle-on='{"cssClass": "fa-star", "label": "Unstar this item"}'
                data-toggle-off='{"cssClass": "fa-star-o", "label": "Star this item"}')
                i.fa.fa-star-o(aria-hidden="true")
              button.mdc-fab.material-icons.mdc-fab--plain(aria-label='Add')
                span.mdc-fab__icon add
              button.mdc-button.mdc-button--plain(type='button') Normal
              button.mdc-button.mdc-button--raised(type='button') Normal
            .mdc-component__containers__secondary
              p Secondary
              button.mdc-fab.material-icons(aria-label='Add')
                span.mdc-fab__icon add
              span.mdc-icon-toggle(
                role="button"
                aria-pressed="false"
                aria-label="Star this item"
                tab-index="0"
                data-icon-inner-selector=".fa"
                data-toggle-on='{"cssClass": "fa-star", "label": "Unstar this item"}'
                data-toggle-off='{"cssClass": "fa-star-o", "label": "Star this item"}')
                i.fa.fa-star-o(aria-hidden="true")
              button.mdc-fab.material-icons.mdc-fab--plain(aria-label='Add')
                span.mdc-fab__icon add
              button.mdc-button.mdc-button--plain(type='button') Normal
              button.mdc-button.mdc-button--raised(type='button') Normal

    // --- SWITCHES AND SLIDERS
    .row
      .mdc-component.mdc-component__switches
        p Switches and sliders
        .mdc-component__section.mdc-component__section--size-narrow
          .mdc-component__containers(dir-horizontal='')
            .mdc-component__containers__primary
              p Primary
              .mdc-checkbox.mdc-ripple-upgraded
                input.mdc-checkbox__native-control(type='checkbox', checked='')
                .mdc-checkbox__background
                  svg.mdc-checkbox__checkmark(version='1.1', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24', xml:space='preserve')
                    path.mdc-checkbox__checkmark__path(fill='none', stroke='white', d='M1.73,12.91 8.1,19.28 22.79,4.59')
                  .mdc-checkbox__mixedmark
              .mdc-radio
                input.mdc-radio__native-control(type='radio', checked='')
                .mdc-radio__background
                  .mdc-radio__outer-circle
                  .mdc-radio__inner-circle
              .mdc-switch
                input.mdc-switch__native-control(type='checkbox', checked='', data-mdc-auto-init="MDCRipple")
                .mdc-switch__background
                  .mdc-switch__knob
            .mdc-component__containers__secondary
              p Secondary
              .mdc-checkbox
                input.mdc-checkbox__native-control(type='checkbox', checked='')
                .mdc-checkbox__background
                  svg.mdc-checkbox__checkmark(version='1.1', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24', xml:space='preserve')
                    path.mdc-checkbox__checkmark__path(fill='none', stroke='white', d='M1.73,12.91 8.1,19.28 22.79,4.59')
                  .mdc-checkbox__mixedmark
              .mdc-radio
                input.mdc-radio__native-control(type='radio', checked='')
                .mdc-radio__background
                  .mdc-radio__outer-circle
                  .mdc-radio__inner-circle
              .mdc-switch
                input.mdc-switch__native-control(type='checkbox', checked='')
                .mdc-switch__background
                  .mdc-switch__knob

    // --- TEXTFIELD              
    .row
      .mdc-component.mdc-component__textfield
        p Text Field
        .mdc-component__section.mdc-component__section--size-narrow
          .mdc-component__containers(dir-horizontal='')
            .mdc-component__containers__primary.mdc-textfield--theme-primary
              p Primary
              .mdc-textfield.insights-material_textfield
                input.mdc-textfield__input.insights-material_input#searchbar(type="text", aria-controls="test")
                label.mdc-textfield__label(for="searchbar") Test
            .mdc-component__containers__primary.mdc-textfield--theme-secondary
              p Primary
              .mdc-textfield.insights-material_textfield
                input.mdc-textfield__input.insights-material_input#searchbar(type="text", aria-controls="test")
                label.mdc-textfield__label(for="searchbar") Test
