.components
  .page-header
    h1.page-title Components Library

  .content-wrap
    section
      .toolbar.toolbar--data-filters
        #dataFiltersHeader.dataFiltersHeader
          .flexgrid
            .row
              .col-sm-6.col-md-8
                label.search
                  strong Search
                  input(type1="text", placeholder="for rule or system")
              .col-sm-6.col-md-4.text-right-sm
                button.btn.btn-blank.filterToggle(data-toggle='collapse', href='#dataFiltersBody', aria-expanded='false', aria-controls='dataFiltersBody')
                  span Data filters
                  i.fa.fa-filter(aria-hidden="true")

                .sep
                list-type
        #dataFiltersBody.dataFiltersBody.collapse.in
          .flexgrid.equalheights
            .row
              .col-sm-6.col-md-3.filter-group
                label(translate)
                  strong System type&nbsp;
                .dropdown.full-width
                  button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    div(translate) --
                    span.caret
                  ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                    li
                      a(href="#") Option 1
                    li
                      a(href="#") Option 2
                    li
                      a(href="#") Option 3
                    li
                      a(href="#") Option 4
                    li
                      a(href="#") Option 5
              .col-sm-6.col-md-2.filter-group
                label(translate)
                  strong Total risk;
                .dropdown.full-width
                  button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    div(translate) --
                    span.caret
                  ul.dropdown-menu(aria-labelledby="dropdownMenu1")
                    li
                      a(href="#") Low
                    li
                      a(href="#") Medium
                    li
                      a(href="#") High
                    li
                      a(href="#") Critical

              .col-md-3.filter-group
                label(translate)
                  strong System status
                .radio-group
                  .radio-inline
                    label
                      input(type="radio", name="radios1", id="radio1", value="-", checked)
                      | All
                  .radio-inline
                    label(translate)
                      input(type="radio", name="radios1", id="radio2", value="-")
                      | Stale
                  .radio-inline
                    label(translate)
                      input(type="radio", name="radios1", id="radio3", value="-")
                      | Checking in

              .col-md-4.filter-group
                label(translate)
                  strong Incident
                .radio-group
                  .radio-inline
                    label
                      input(type="radio", name="radios2", id="radio4", value="All", checked)
                      | All
                  .radio-inline
                    label(translate)
                      input(type="radio", name="radios2", id="radio5", value="Occurred")
                      | Occurred
                  .radio-inline
                    label(translate)
                      input(type="radio", name="radios2", id="radio6", value="Not occurred")
                      | Not occurred

        #dataFiltersFooter.dataFiltersFooter
          .active-filters
            strong Active filters:&nbsp;
            // remove filter on click
            button.btn.btn-accent
              span(translate) System type: Option selected
              i.fa.fa-times-circle-o(aria-hidden="true")
            a.reset(href="#") Clear all filters



      section.flexgrid.equalheights
        .row
          .col-md-4.filter-group
            label(translate)
              strong System type
            .option-group.flexbox
              .row
                .col-md-6
                  label(translate)
                    input(type="checkbox")
                    span RHEL Server
                .col-md-6
                  label(translate)
                    input(type="checkbox")
                    span Container
                .col-md-6
                  label(translate)
                    input(type="checkbox")
                    span Container Host
                .col-md-6
                  label(translate)
                    input(type="checkbox")
                    span Container Image
          .col-md-3.filter-group
            label(translate)
              strong Severity type
            .option-group.flexbox
              .row
                .col-md-6
                  label(translate)
                    input(type="checkbox")
                    span Low
                .col-md-6
                  label(translate)
                    input(type="checkbox")
                    span Medium
                .col-md-6
                  label(translate)
                    input(type="checkbox")
                    span High
                .col-md-6
                  label(translate)
                    input(type="checkbox")
                    span Critical
          .col-md-3.filter-group
            label(translate)
              strong Severity type
            .radio-group
              .radio-inline
                label(translate)
                  input(type="radio", name="inlineRadioOptions", id="radio1", value="option1")
                  span All
              .radio-inline
                label(translate)
                  input(type="radio", name="inlineRadioOptions", id="radio2", value="option2")
                  span Stale
              .radio-inline
                label(translate)
                  input(type="radio", name="inlineRadioOptions", id="radio3", value="option3")
                  span Checking in
        .row-sep
        .row
          .col-md-4.filter-group
            label(translate)
              strong Severity type
            .radio-group
              .radio-inline
                label(translate)
                  input(type="radio", name="inlineRadioOptions", id="radio1", value="option1")
                  span All
              .radio-inline
                label(translate)
                  input(type="radio", name="inlineRadioOptions", id="radio2", value="option2")
                  span Stale
              .radio-inline
                label(translate)
                  input(type="radio", name="inlineRadioOptions", id="radio3", value="option3")
                  span Checking in
          .col-md-4.filter-group
            label(translate='translate')
              strong System type
            .dropdown
              button.btn.dropdown-toggle(
              type='button',
              data-toggle='dropdown',
              aria-haspopup='true',
              aria-expanded='false')
                span.text(ng-show='!isGroupSelected() || disabled', translate) Group select
                span.text.active(ng-show='isGroupSelected() && !disabled') {{group.display_name}}
                span.caret
              ul.dropdown-menu
                li
                  a(ng-click='triggerChange(null)', translate) All Systems
                li(ng-repeat='g in groups | orderBy:"display_name" track by g.id')
                  a(ng-click='triggerChange(g)')
                    trimmed-text(length="35", text="{{g.display_name}}")
          .col-md-4.filter-group
            label(translate='translate') Example of selections
            .dropdown
              button.btn.dropdown-toggle(
              type='button',
              data-toggle='dropdown',
              aria-haspopup='true',
              aria-expanded='false')
                span.text(ng-show='!isGroupSelected() || disabled', translate) -- 3 selected
                span.text.active(ng-show='isGroupSelected() && !disabled') {{group.display_name}}
                span.caret
              ul.dropdown-menu
                li
                  a(ng-click='triggerChange(null)', translate) All
                li(ng-repeat='g in groups | orderBy:"display_name" track by g.id')
                  a(ng-click='triggerChange(g)')
                    trimmed-text(length="35", text="{{g.display_name}}") Option 1
    // ng-if this
    #ui-filters_active-filters.ui-filters__active-filters(ng-hide="removeFilter1 && removeFilter2")
      button.btn-soft.btn-gray(ng-click="removeFilter1=true", ng-show="!removeFilter1")
        span Systems filter
        i.fa.fa-close
      button.btn-soft.btn-gray(ng-click="removeFilter2=true", ng-show="!removeFilter2")
        span Another type of filter
        i.fa.fa-close
    #ui-filters__control-bar.ui-filters__control-bar.collapsed(data-toggle='collapse', href='#ui-filters', aria-expanded='false', aria-controls='ui-filters')
      a.toggle(role='button')
        i.fa.fa-arrow-circle-down(aria-hidden="true")

    section.section-flex-grid
      h2 Brand new FLEX BOX MODEL layout with equal height layout
      h3.section-title.red 2 column grid set on the flex-grid container
      .flexgrid.equalheights
        .row
          .col-sm-2
            .content.gray
              p testing the content
          .col-sm-2
            .content.gray
              p testing the content
              p and again

        pre.code-block.code-terminal
          code.code
            | .flexgrid.equalheights
            |   .row
            |     .col-sm-2
            |       .content
            |         p testing the content
        .row
          .col-sm-6
            .content.gray
              p testing the content
          .col-sm-6
            .content.gray
              p testing the content
              p and again
          .col-sm-6
            .content.gray
              p testing the content
              p and again
          .col-sm-6
            .content.gray
              p testing the content
              p and again
              p and again
              p and again
          .col-sm-6
            .content.gray
              p testing the content
              p and again
              p and again
              p and again
              p and again
              p and again
              p and again
              p and again
          .col-sm-6
            .content.gray
              p testing the content
              p and again
              p and again
              p and again

    section
      h2 Regular Card
      card
        card-header
          | Some header HTML
        card-content
          | Some content HTML
        card-footer

    section
      h2 Expandable Card
      card(expandable=true)
        card-header
          | Some header HTML
        card-content
          | Some content HTML
        card-footer
