.filter-group.filter-age-select
  label(translate) Age
  md-menu(md-offset="0 38")
    md-button.button-filter(
      type='button',
      data-toggle='dropdown',
      aria-haspopup='true',
      aria-expanded='false',
      ng-click='$mdMenu.open($event)')
      span.text.active(ng-model='label') {{selected.label}}
      span.caret
    md-menu-content
      md-menu-item(ng-repeat='(key, value) in options')
        a(href='#', ng-click='select(key)') {{value.label}}