.filter-group.filter-age-select
  label(translate) Age
  md-menu(md-offset="0 38")
    md-button.button-filter(
      type='button',
      data-toggle='dropdown',
      aria-haspopup='true',
      aria-expanded='false',
      ng-click='$mdMenu.open($event)')
      span.text.active(ng-model='label') {{selected.label}}
      span.caret
    md-menu-content
      md-checkbox(ng-repeat='(key, option) in options', ng-click='select(key)', ng-checked='selected === option')
        span {{option.label}}
