.vulnerabilities-switch-view-button
  md-menu(md-offset="0 38")
    md-button.button-filter(
      type='button',
      data-toggle='dropdown',
      aria-haspopup='true',
      aria-expanded='false',
      ng-click='$mdMenu.open()')
      span {{ getCurrentView() | translate }}
      span.caret
    md-menu-content
      md-menu-item(ng-repeat='view in views')
        a(ng-click="setCurrentView(view)", translate) {{ view }}