.loading-block.text-center(ng-if='loading.isLoading')
  .detail-part
    .spinner.spinner-lg
    | {{:: getLoadingMessage()}}
p.text-center(ng-if='(!system.recommendations || !system.recommendations.length) && !loading.isLoading && !system.__fake && !errorMessage')
  span.icon.icon-inline.success
    i.fa.fa-check-circle
    span(translate) No actions
div(ng-if='!loading.isLoading && !system.__fake && errorMessage', ng-bind-html=':: errorMessage | trust_html')
list-group
  list-item.ins-p-list-group__item--is-expandable.ins-p-list-group__item--has-checkbox(expandable recommendation='recommendation', rule-id='rule_id', rule-filter='ruleFilter', ng-repeat='recommendation in system.recommendations track by recommendation.rule_id')
    list-item-header-expandable
      .ins-l-list-group__item__header--has-severities-and-ansible-support
        strong.title {{:: recommendation.rule.category }} > {{:: recommendation.rule.description }}
        .risk-summaries.card-header-risk-summaries.ins-c-risk-summaries
          ml-reliability-icons.inline(rule='recommendation.rule')
          risk-of-change(label='"Optimization:"' change-risk='recommendation.rule.optimization')
        ansible-icon.ins-c-ansible-support(value='recommendation.rule.ansible' hide-label="true")

    list-item-content
      .ins-l-split--lg
        .recommendation-detail
          .detail-part
            h4.section-heading(translate)
              i.fa.fa-crosshairs(aria-hidden="true") &nbsp;
              strong(translate) Detected issues
            .reason
              .detail-content(ng-if="recommendation.rule.reason !== 'INSIGHTS-ERROR-INTERPOLATION'",
              ng-bind-html=':: recommendation.rule.reason | trust_html',
              target-blank='')
              .detail-part
                .detail-content.answer
                  h4.section-heading(translate)
                    i.fa.fa-thumbs-up(aria-hidden="true") &nbsp;
                    strong(translate) Steps to resolve
                  span(ng-if="recommendation.rule.resolution !== 'INSIGHTS-ERROR-INTERPOLATION'",
                  ng-bind-html=':: recommendation.rule.resolution | trust_html',
                  target-blank='')
            .kbase-articles(ng-show='recommendation.rule.more_info')
              h4.section-heading(translate)
                i.fa.fa-circular.fa-lightbulb-o(aria-hidden="true") &nbsp;
                strong(translate) Related Knowledgebase articles:
              span(ng-if="recommendation.rule.more_info",
              ng-bind-html=':: recommendation.rule.more_info | trust_html',
              target-blank='')
        recommendation-graph(ng-show='recommendation.showGraph')

    list-item-footer.more-info(collapse="!show.moreInfo")
