.modal-actions
  i.fa.fa-close(ng-click="close()")

.modal-header
  .text-center
    i.svg
      img(src= "images/l_ansible-black.svg")
    h2(translate) Create Ansible Playbook

// Screen 1 - Rules Without Plays
.modal-body(ng-if='step === RULES_WITHOUT_PLAYS && rulesWithoutPlays.length > 0')
  .row
    .col-sm-12
      p.red
        b
          span(translate,
               translate-n="rulesWithoutPlays.length",
               translate-plural="These rules") This rule
          span(translate) &nbsp;will not be included in this Playbook.
  .row
    .col-sm-12
      ul
        li(ng-repeat="rule in rulesWithoutPlays | orderBy:['category','description'] | limitTo:listLimit")
          i.fa.category-icon.inline-right(ng-class="rule.category.toLowerCase()")
          b {{ rule.category }} 
          | #{'>'} {{ rule.description }} for&nbsp;
          b {{rule.system_type.displayNameShort}}
      a(ng-show="listLimit !== undefined && listLimit < rulesWithoutPlays.length",
        ng-click="listLimit = undefined",
        translate) View More ({{rulesWithoutPlays.length - listLimit}})
      a(ng-show="listLimit === undefined",
        ng-click="listLimit = MINIMUM_NUMBER_OF_ITEMS",
        translate) View Less

  .row.row-short
    .col-sm-12
      .text-center
        btn.btn.btn-accent(ng-click="generatePlaybook(plan.maintenance_id)", translate) OK, proceed

// Screen 2 - Resolve Ambiguous Resolutions
.modal-body(ng-if='step === RESOLVE_QUESTIONS')
  .row
    .col-sm-12
      .group
        .group-title.group-title-table
          table
            tbody
              tr
                td
                  i.fa.category-icon.inline-right(ng-class="currentQuestion.rule.category.toLowerCase()")
                  b {{ currentQuestion.rule.category }} #{'>'} {{ currentQuestion.rule.description }}
  .row
    .col-sm-12
      .group
        .group-title
          i.fa.fa-times-circle(ng-class='currentQuestion.system_type.imageClass')
          b &nbsp; {{currentQuestion.system_type.displayName}}
        .group-content
          ul
            li(ng-repeat="action in currentQuestion.systemsAffected | limitTo:listLimit | orderBy:'+system.toString'")
              | {{action.system.toString}}
          a(ng-show="listLimit !== undefined && listLimit < currentQuestion.systemsAffected.length",
            ng-click="listLimit = undefined",
            translate) View More ({{currentQuestion.systemsAffected.length - listLimit}})
          a(ng-show="listLimit === undefined",
            ng-click="listLimit = MINIMUM_NUMBER_OF_ITEMS",
            translate) View Less

  .row
    .col-sm-12
      .group
        .group-title
          b(translate) Would you like to:
        .group-content
          .radio(ng-repeat='resolution in currentQuestion.resolutions')
            label(for='resolution-type-{{$index}}')
              input(type='radio',
                    ng-model="currentQuestion.resolution_type",
                    name='resolution-type',
                    id='resolution-type-{{$index}}',
                    ng-value='resolution.resolution_type')
              | {{resolution.description}}

  .row
    .col-sm-12
      nav(aria-label="Selection navigation")
        ul.pagination.pagination-dots
          li(ng-repeat='question in questions track by $index',
             ng-class='{\'active\': currentQuestion.index === $index}')
            a(ng-click='goToStep($index)',
              ng-class='{\'sr-only\': currentQuestion.index === $index, disabled: currentQuestion.hasAnswer}') {{$index + 1}}
          li
            a(ng-click="goToStep(questions.length)") {{questions.length + 1}}

// Screen 3
.modal-body(ng-if='step === SUMMARY')
  .row(ng-if='error !== null')
    .col-sm-12
      p.red
        b {{error}}
  .row
    .col-sm-12
      .group
        .group-pretitle
          b(translate) This Playbook will resolve the following rules:

  .row.row-short
    .col-sm-12
      .group
        .group-content
          ul
            li(ng-repeat="(key, rule) in rulesWithPlays | limitTo: listLimit")
              i.fa.category-icon.inline-right(ng-class="rule.category.toLowerCase()")
              b {{ rule.category }}
              | #{'>'} {{ rule.description }} for&nbsp;
              b {{ rule.system_type.displayNameShort }}
              ul(ng-show='rule.solution !== undefined')
                li {{ rule.solution() }}
          a(ng-show="listLimit !== undefined && listLimit < rulesWithPlays.length",
            ng-click="listLimit = undefined",
            translate) View More ({{rulesWithPlays.length - listLimit}})
          a(ng-show="listLimit === undefined",
            ng-click="listLimit = MINIMUM_NUMBER_OF_ITEMS",
            translate) View Less

  .row
    .col-sm-12
      nav(aria-label="Selection navigation")
        ul.pagination.pagination-dots

          li(ng-repeat='question in questions track by $index')
            a(ng-click='goToStep($index)') {{$index + 1}}

          li.active
            a.sr-only(ng-click="goToStep(questions.length)") {{questions.length + 1}}

.modal-footer
  ul.row.pager.pager-steps(ng-if='step === RESOLVE_QUESTIONS || step === SUMMARY')
    li.previous.col-sm-6
      a.btn.btn-accent(ng-click='prevStep()', ng-if='step === SUMMARY || currentQuestion.index > 0 || rulesWithoutPlays.length > 0', translate)
        i.fa.fa-chevron-left
        | &nbsp;&nbsp;Previous
    li.next.col-sm-6(ng-if='step !== SUMMARY')
      a.btn.btn-accent(ng-click='nextStep()', translate)
        | Next&nbsp;&nbsp;
        i.fa.fa-chevron-right
    li.next.col-sm-6(ng-if='step === SUMMARY')
      a.btn.btn-accent(ng-click='downloadPlaybook()',
                translate) Download Playbook
