.debug.push-top.content(ng-if='debug')
  .row
    .col-xs-12(ng-if='previewError')
      .error.red
        strong
          span(ng-show='previewError.property') Unable to compile "{{previewError.property}}":&nbsp;
          | {{previewError.error}}: {{previewError.message}}
  hr
  .row
    .col-xs-12(ng-show='noReports')
      h4 Oh Snap! No reports found.
    .col-xs-12(ng-hide='noReports')
      h4 Debug Info
      dl
        dt Details
        dd
          pre {{report.details | json:4}}
    .col-xs-12.updatable(ng-class='{updating: reportLoader.loading}', ng-hide='noReports')
      .spinner(ng-show='reportLoader.loading')
      h4 Choose a different report
      ui-select(ng-model='selected.report', append-to-body='false', on-select='buildPreview({uuid: $item.uuid})')
        ui-select-match.form-control.ui-select-match(placeholder='Select a report ({{reports.length}} available)')
          span.icon-inline
            type-icon(type-id='selected.report.system.system_type_id', include-text='false')
          | {{(selected.report.system.toString)}} - report {{selected.report.id}} ({{selected.report.uuid}})
        ui-select-choices.ui-select-choices(repeat='r in getReports($select.search)', group-by='reportGroupFn')
          span.icon-inline
            type-icon(type-id='r.system.system_type_id', include-text='false')
          | {{(r.system.toString)}} - report {{r.id}} ({{r.uuid}})
      p(ng-if='allReportsLoaded') Using reports from all accounts.
      p(ng-if='!allReportsLoaded') Using reports for the current account ({{account.number()}}).&nbsp;
        a(ng-click='loadAllReports()') Click here to load all accounts.
  hr
  .row
    .col-xs-12
      h4 Pro Mode
      .form-group
        textarea.form-control(
          ng-model='debug.pydata',
          placeholder='Enter your own pydata here. MUST BE VALID JSON!',
          ng-change='validatePydata(debug.pydata)',
          ng-model-options='{ debounce: 100 }')
        p.text-danger(ng-show='invalidJSON')
          | Error parsing JSON: {{jsonError}}
          br
          | Check out
          a(href='http://jsonlint.com/', target='_blank') jsonlint
          | .
      .form-group
        button.btn.btn-block.btn-success.pointer(
          ng-disabled='invalidJSON || !debug.pydata',
          ng-click='buildPreview({pydata: debug.pydata})') Preview
