.actions-rule
  actions-back
  breadcrumbs(ng-hide='loading')

  section.rule-detail-header
    page-header(icon="fa-file-text")
      .page-title
        h1 {{:: ruleDetails.description}}
    .rule-detail-ansible-support
      ansible-icon(value='ruleDetails.ansible')
    .rule-detail-risk-list
      all-severity-icons(rule='ruleDetails', ng-if='!loading')
      risk-of-change(change-risk='ruleDetails.resolution_risk')
    .rule-detail-summary(ng-hide='loading')
      h4.icon-inline(ng-if='isIncident(ruleDetails.rule_id)')
        incident-icon(rule-id='ruleDetails.rule_id') &nbsp;
        span.red(translate) This issue is an incident, it has already occurred.

      article(ng-bind-html=':: ruleDetails.generic_html | trust_html')

  table-filters
    search-box(placeholder="{{:: 'Find a system' | translate}}", on-search='search(model)')
    check-in-select

  section.content
    // Show Create Playbook, Add to Plan if at least one system has been selected
    .table-header
      .dropdown
        md-button.button-dropdown(
          data-toggle='dropdown',
          aria-haspopup='true',
          aria-expanded='false',
          aria-label='Actions Dropdown',
          translate,
          ng-disabled='!checkboxes.totalChecked || !config.isPlannerEnabled') Actions
          span.caret
        .dropdown-menu
          md-button.full-width.md-no-margin(ng-if='config.isPlannerEnabled', ng-click='addToPlan(false)', translate) Create a new Plan/Playbook
            ansible-icon.inline-left(
                value='true',
                show-tooltip='false')
          md-button.full-width.md-no-margin(ng-if='config.isPlannerEnabled', ng-click='addToPlan(true)',
            ng-disabled='!plans.future.length && !plans.unscheduled.length',
            translate) Add to existing Plan/Playbook
            ansible-icon.inline-left(
              value='plans.future.length || plans.unscheduled.length',
              show-tooltip='false')

      .table-header-title
        h3.system-count(translate, translate-n='totalRuleSystems', translate-plural='{{:: $count}} Impacted Systems', ng-if='ruleDetails.type !== "osp"') 1 Impacted System
        h3.system-count(translate, translate-n='totalRuleSystems', translate-plural='{{:: $count}} Impacted Deployments', ng-if='ruleDetails.type === "osp"') 1 Impacted Deployment
        small.light(ng-if='checkboxes.totalChecked', translate) &nbsp; ({{numberOfSelected()}} Selected
          span(ng-if='allSelected && pager.perPage < totalRuleSystems') .
            a(ng-if='!reallyAllSelected', ng-click='reallySelectAll()') &nbsp;Select All Systems.
            a(ng-if='reallyAllSelected', ng-click='deselectAll()') &nbsp;Deselect All Systems.
          span )
      list-type(ng-hide='hideListSwitch')

    span(ng-if='getListType() === listTypes.card')
      .card-table-header
        md-checkbox.md-accent.md-hue-1(
          aria-label="Select All Systems Checkbox",
          tooltip="{{:: 'Select All' | translate}}",
          tooltip-trigger='mouseenter',
          tooltip-append-to-body='true',
          tooltip-placement='top',
          type="checkbox",
          md-indeterminate="checkboxes.indeterminate",
          ng-model='checkboxes.checked',
          ng-change='selectAll(); checkboxes.checkboxChecked(checkboxes.checked, getSelectableSystems())')
        label.type(translate, ng-click="sort('system_type_id')") &nbsp; Type
        strong.hostname(translate, ng-click="sort('toString')") Name &nbsp;
        strong.action-count(translate, ng-click="sort('report_count')") Action Count

    .system-cards.card-list(ng-if='getListType() === listTypes.card && !loadingSystems')
      system-card.ng-animate-enabled(ng-repeat='system in ruleSystems track by system.system_id',
        system='system',
        rule='ruleDetails',
        checkboxes='checkboxes')

    table(ng-if='getListType() === listTypes.table')
      thead
        tr
          th.min
            md-checkbox.md-accent.md-hue-1.md-checkbox-list(
              tooltip='Select All',
              type="checkbox",
              aria-label='Select All Systems Checkbox',
              md-indeterminate="checkboxes.indeterminate",
              ng-model='checkboxes.checked',
              ng-change='selectAll(); checkboxes.checkboxChecked(checkboxes.checked, ruleSystems)')
          th.min.sortable(ng-class="predicate | sortClass:'system_type_id':reverse", ng-click="sort('system_type_id')", translate) Type
          th.sortable(ng-class="predicate | sortClass:'toString':reverse", ng-click="sort('toString')", translate) Name
          th.min.sortable(ng-class="predicate | sortClass:'last_check_in':!reverse", ng-click="sort('last_check_in')", translate) Reported

      tbody(ng-hide='loadingSystems')
        tr(ng-click='checkboxes.rowClick($event, system.system_id)',
           ng-mousedown='checkboxes.rowClick($event, system.system_id)',
           ng-class="{'stale': !system.isCheckingIn}",
           ng-repeat='system in ruleSystems track by system.system_id',
           data-id="{{:: system.system_id}}")
          td.min
            md-checkbox.md-accent.md-hue-1.md-checkbox-list(
              type='checkbox',
              aria-label='Select System Checkbox',
              ng-model='checkboxes.items[system.system_id]',
              ng-click='checkboxes.rowClick($event, system.system_id); $event.stopPropagation();',
            )
          td.fit-content
            type-icon(type-id='system.system_type_id', include-text='true')
          td.break
            a(ng-click='showSystem(system)') {{:: system.toString }}
          td.fit-content {{:: system.last_check_in | timeAgo}}

    pagination.pull-right.pagination-blue(
      ng-hide='loading || loadingSystems',
      ng-if="totalRuleSystems > pager.perPage",
      total-items="totalRuleSystems",
      ng-model="pager.currentPage",
      items-per-page="pager.perPage",
      ng-change="paginate()")

  .margin-top(ng-if='loading || loadingSystems')
    .text-center
      .spinner.spinner-lg
