//platform-filter

.content-wrap(ng-hide='loading')
  actions-breadcrumbs.actions-breadcrumbs.push-top-narrow(ng-hide='loading')

  section.actions-rule-details.gray
    h2
      .pull-right(ng-if='config.isPlannerEnabled')
        incident-icon.inline-right(rule-id='ruleDetails.rule_id') &nbsp;
        ansible-icon(value='ruleDetails.ansible')
      | {{ruleDetails.description}}
    p(ng-bind-html='ruleDetails.generic_html | trust_html')
    all-severity-icons(rule='ruleDetails', ng-if='!loading')

  section
    .row
      .col-sm-12
        actions-rule-filters

  section
    .row
      .col-sm-12.text-center-sm
        h3(translate, ng-if='ruleDetails.type !== "osp"') {{allSystems.length}} Impacted Systems
        h3(translate, ng-if='ruleDetails.type === "osp"') Impacted Deployments

  div(infinite-scroll='doScroll()', infinite-scroll-disabled='disableScroll()', infinite-scroll-immediate-check='false')

    .card-table-header(ng-show='getListType() === listTypes.card')
      .row
        .col-sm-4
          input.action-checkbox(
            tooltip='Select All',
            type='checkbox',
            ng-indeterminate='checkboxes.indeterminate',
            ng-model='checkboxes.checked',
            ng-change='checkboxes.checkboxChecked(checkboxes.checked, ruleSystems)')
          label(translate, ng-click="sort('system_type_id')") &nbsp; Type
        .col-sm-4
          strong(translate, ng-click="sort('toString')") Name &nbsp;
          span(ng-if='checkboxes.totalChecked') &nbsp;({{checkboxes.totalChecked}} Selected)
        .col-sm-4.text-right
          strong(translate, ng-click="sort('report_count')") Action Count

    // Show Create Playbook, Add to Plan if at least one system has been selected
    .row.row-short
      .col-sm-3.col-lg-2
        .dropdown
          button.btn.btn-default.dropdown-toggle(
            data-toggle='dropdown',
            aria-haspopup='true',
            aria-expanded='false',
            translate,
            ng-disabled='!checkboxes.totalChecked || !config.isPlannerEnabled') Actions
            span.caret
          ul.dropdown-menu
            li(ng-if='config.isPlannerEnabled',)
              a(ng-click='addToPlan(false)', translate) Create a new Plan/Playbook
                ansible-icon.inline-left(
                  value='true',
                  show-tooltip='false')
            li(ng-if='config.isPlannerEnabled',)
              a(ng-click='addToPlan(true)',
                ng-disabled='!plans.future.length && !plans.unscheduled.length',
                translate) Add to existing Plan/Playbook
                ansible-icon.inline-left(
                  value='plans.future.length || plans.unscheduled.length',
                  show-tooltip='false')
      .col-sm-6.col-sm-offset-3.col-lg-offset-4
        list-type.text-right-sm

    .row.row-short
      .col-sm-12
        system-card(ng-repeat='system in ruleSystems',
          system='system',
          rule='ruleDetails',
          checkboxes='checkboxes',
          ng-show='getListType() === listTypes.card')

    .row.row-short(ng-show='getListType() === listTypes.table')
        .col-sm-12
          table.table.nomar.ng-table.table-fixed
            thead
              tr
                th(style='width: 30px')
                  input.action-checkbox(
                    tooltip='Select All',
                    type="checkbox",
                    ng-indeterminate="checkboxes.indeterminate",
                    ng-model='checkboxes.checked',
                    ng-change='checkboxes.checkboxChecked(checkboxes.checked, ruleSystems)')
                th.sortable(style='width: 27%;', ng-class="predicate | sortClass:'system_type_id':reverse", ng-click="sort('system_type_id')")
                  .sort-indicator(translate) Type
                th.sortable(ng-class="predicate | sortClass:'toString':reverse", ng-click="sort('toString')")
                  .sort-indicator(translate) Name
                th.sortable(style="width: 27%;", ng-class="predicate | sortClass:'last_check_in':!reverse", ng-click="sort('last_check_in')")
                  .sort-indicator(translate) Reported 
            tbody
              tr(ng-click='checkboxes.rowClick($event, system.system_id)',
                 ng-mousedown='checkboxes.rowClick($event, system.system_id)',
                 ng-class="{'stale': !system.isCheckingIn}",
                 ng-repeat='system in ruleSystems',
                 data-id="{{system.system_id}}")
                td(style='width: 30px')
                  input.selectme(
                    type='checkbox',
                    ng-model='checkboxes.items[system.system_id]',
                    ng-click='checkboxes.rowClick($event, system.system_id); $event.stopPropagation();',
                  )
                td(style='width: 27%;')
                  type-icon(type-id='system.system_type_id', include-text='true')
                td.break
                  a(ng-click='showSystem(system)') {{ system.toString }}
                td(style='width: 27%;') {{ ::system.last_check_in | timeAgo}}

  .row.row-short(ng-hide='loading')
    .col-xs-12
      .actions-back
.margin-top(ng-show='loading')
  .text-center
    .spinner.spinner-lg
