.maintenance-plan-modal.main-content.updatable(ng-class='{updating: loader.loading}')
  .spinner.spinner-lg(ng-if='loader.loading')
  .modal-actions
    .fa.fa-close.pull-right(ng-click='close()')
  .modal-header
    .text-center
      i.rh-icon-book
      h2 Add to plan
  .content-block
    .row.plan-select
      ui-select(ng-model='selected.plan', append-to-body='false')
        ui-select-match.form-control.ui-select-match(placeholder='Select a plan')
          span(ng-if='!selected.plan.start && !selected.plan.name.length') PLAN {{selected.plan.maintenance_id}}
          span(ng-if='!selected.plan.start && selected.plan.name.length') {{selected.plan.name}}
          span(ng-if='selected.plan.start') {{selected.plan.start | moment:'LL':timezone}}
            span(ng-show='selected.plan.name.length') &nbsp;({{selected.plan.name}})
        ui-select-choices.ui-select-choices(
          repeat="plan in availablePlans | searchMaintenancePlans: $select.search",
          group-by='planGroupFn',
          group-filter='planOrderFn')
          span(ng-if='!plan.start && !plan.name.length') PLAN {{plan.maintenance_id}}
          span(ng-if='!plan.start && plan.name.length') {{plan.name}}
          span(ng-if='plan.start') {{plan.start | moment:'LL':timezone}}
            span(ng-show='plan.name.length') &nbsp;({{plan.name}})

    .row.new-plan-alias(ng-if='selected.plan.new')
      .form-group
        label.control-label(translate) Alias (optional)
        input.form-control(
          type='text',
          name='name',
          maxlength='255',
          ng-model='selected.plan.alias',
          placeholder="{{'e.g. PHX datacenter regular outage' | translate}}")

    .row.available-actions
      .content-block.maintenance-plan.rule(
        ng-if='selected.plan && tableParams && mode === MODES.rule')
        .header.bordered
          span.icon-inline
            severity-icon(severity="rule.severity")
          strong {{rule.description}}
        .nopad.table-responsive
          maintenance-table-systems(
            params='tableParams',
            edit='tableEdit',
            item='selected.plan',
            on-save='postSave()',
            on-cancel='close()')

      .content-block.maintenance-plan.rule(ng-if='selected.plan && tableParams && mode === MODES.system')
        .header.bordered
          span.icon-inline
            type-icon(type-id='system.system_type_id', include-text='false')
          a(ng-click='showSystemModal(system)')
            strong {{system.toString}} &nbsp;&nbsp;
          span.item
            strong(translate) Last check in:
            span(ng-class='system | checkInStyle') &nbsp;&nbsp;{{system.last_check_in | timeAgo}}
        .nopad.table-responsive
          maintenance-table-actions(
            params='tableParams',
            edit='tableEdit',
            item='selected.plan',
            on-save='postSave()',
            on-cancel='close()')

      .content-block.maintenance-plan.rule(
        ng-if='selected.plan && tableParams && fixableSystems.length && mode === MODES.multi')
        .header.bordered
          strong(
            translate,
            translate-n='fixableSystems.length',
            translate-plural='Available actions for {{$count}} systems') Available actions for 1 system
        .nopad.table-responsive
          maintenance-table-actions(
            params='tableParams',
            edit='tableEdit',
            item='selected.plan',
            on-save='postSave()',
            on-cancel='close()')

      .content-block(
        ng-if='selected.plan && tableParams && !fixableSystems.length && mode === MODES.multi')
        .text-center
          strong
            i.fa.fa-check-circle.success.inline-right
            span(translate) No problems to fix on selected systems.
