.system-card(ng-class="{'stale': !system.isCheckingIn}")
  card.card-rule-summary(expandable init-collapsed='initCollapsed' on-toggle='toggleContent(ctx)')
    card-header-expandable.gray
      i.fa.spinner-xs.spinner(ng-if='loading')
      md-checkbox.md-accent.md-hue-1.md-checkbox-list.checkbox(
        tooltip="{{:: 'Select' | translate}}",
        tooltip-trigger='mouseenter',
        tooltip-append-to-body='true',
        tooltip-placement='top',
        type="checkbox",
        aria-label='Select System Checkbox',
        ng-model='checkboxes.items[system.system_id]',
        ng-click='checkboxes.rowClick($event, system.system_id); $event.stopPropagation();')

      .card-header-title

        type-icon.type(type-id='system.system_type_id' include-text='true')

        .ellipsis-wrapper.hostname
          strong.hostname {{:: system.toString }}
          span(ng-if='!system.isCheckingIn') &nbsp;(stale system)

        a.action-count.icon-inline(ng-click='showActions(system, false, modalTabs.vulnerabilities); $event.stopPropagation();')
          span.text(translate, translate-n="system.vulnerability_count", translate-plural="{{:: $count}} Vulnerabilities") {{:: system.vulnerability_count}} Vulnerability
          span(ng-class="{'success': !system.vulnerability_count, 'fail': system.vulnerability_count}")
            i.fa(ng-class="{'no-action': !system.vulnerability_count, 'yes-action': system.vulnerability_count}")

        a.action-count.icon-inline(ng-click='showActions(); $event.stopPropagation();')
          span.text(translate, translate-n="system.report_count", translate-plural="{{:: $count}} Actions") {{:: system.report_count}} Action
          span(ng-class="{'success': !system.report_count, 'fail': system.report_count}")
            i.fa(ng-click='showActions(); $event.stopPropagation();', ng-class="{'no-action': !system.report_count, 'yes-action': system.report_count}")
    card-content
      div(ng-if='!system.isCheckingIn')
        strong Last checkin:&nbsp;
        span(ng-if='!system.last_check_in', translate) never
        span(ng-if='system.last_check_in') {{:: system.last_check_in | timeAgo}}

      .separation-header(ng-if='hasFamilyMembers()')
        h4 Related Systems

      // Family members
      .row
        .col-sm-12
          .family-members(ng-if='hasFamilyMembers()')
            .row
              link-group.link-group.col-md-12(
                ng-repeat='linkGroup in linkGroups | orderBy: "+priority"',
                group='linkGroup.members',
                typeid='linkGroup.system_type_id')
            // System metadata
            .separation-header.metadata-separator
              h4 System Metadata

      .row.row-short
        .col-sm-12
          .metadata
            system-metadata(ng-if='!$parent.card.collapsed', system='system')
      .row.row-short
        .col-sm-12
          .system-card-actions
            .btn.btn-outline.btn-xs(translate, ng-disabled='!selectable', ng-click='unregister()') Unregister
