.filter-group.filter-total-risk
  label(translate) Total Risk
  md-menu(md-offset="0 38")
    md-button.button-filter(
      type='button',
      data-toggle='dropdown',
      aria-haspopup='true',
      aria-expanded='false',
      ng-click='$mdMenu.open($event)')
      span.text.active(ng-model='label') {{label | translate}}
      span.caret
    md-menu-content
      md-checkbox(ng-repeat='option in options', ng-click='select(option)', ng-checked='selected === option')
        span {{option.label | translate}}
